header, body, button, #tema, .questiontitleheadline, .question, .answer, .question_MC, .option_MC_type, .option_MC_answer {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .questiontitle, .landingrect1 {
font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.mainmenu {
    width: 100%;
    z-index: 9999;
}

header {
    width: 100%;
    z-index: 9999;
    color: black;
    border-bottom: solid 1px black;
    background-color: antiquewhite;
    position: fixed;
    height: 60px;
}

.margem {
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

body, html {
  max-width: 100%;
  line-height: 1.8;
  margin: 0;
  overflow-x: hidden;
  overflow-y: visible;
}

.body1 {
    background-color: antiquewhite;
}

.body2 {
    background-color: antiquewhite;
}

/* tabela */

.numero {width: 80px;}

.tablestyle {
    min-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
  }
  
  .tablestyle td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
  }
  
  .tablestyle tr:nth-child(even){background-color: #f2f2f2;}
  
  .tablestyle tr:hover {background-color: #ddd;}
  
  .tablestyle th {
    padding: 8px 12px 8px 12px;
    text-align: left;
    background-color: black;
    color: white;
    border: 1px solid #ddd;
    word-wrap: break-word;
  }

.tablestyle-wrapper {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: scroll;
    border: solid 5px white;
}

.tablestyle-wrapper thead th{
    position: sticky;
    top: 0;
}

.minisquare_red {
    width: 10vw; height: 10vw; background-color: #e62f1e; display: inline-block;
}
.minisquare_cyan {
    width: 10vw; height: 10vw; background-color: #009fe3; display: inline-block;
}
.minisquare_green {
    width: 10vw; height: 10vw; background-color: #4ead33; display: inline-block;
}
.minisquare_black {
    width: 10vw; height: 10vw; background-color: black; display: inline-block;
}

.baritem {
    display:inline-block;
    font-weight:lighter;
    color: black;
    padding: 16px 10px 16px 10px;
    z-index: 9999;
}

.baritem:link, .baritem:visited {
    text-decoration: none;
}

.baritem:hover {
    color: black;
    background-color: lightgray;}

.commonpadding {padding: 0px;}

.leftalign {float: left;}

.homealign {position: absolute; width: 83%; height: 25px; text-align: center;}

.rightalign {float: right; vertical-align: middle;}

.centeralign {text-align: center; padding: 40px;}

.newgame {padding: 8px 10px 8px 10px;
    background-color: black;
    color: white;
    vertical-align: middle;
    display:inline-block;
    font-weight:lighter;
    border-radius: 3px;
    margin-top: -16px;
    z-index: 9999;
    }

.newgame:link, .newgame:visited {
    text-decoration: none;
    }
    
.newgame:hover {
    color: black;
    background-color: lightgray;}

.game {padding: 8px 16px 8px 16px;
    margin-top: 2px;
    background-color: black;
    color: white;
    vertical-align: middle;
    display:inline-flex;
    font-weight:lighter;
    font-size: 2vw;
    border-radius: 3px;
    }
    
.game:link, .newgame:visited {
    text-decoration: none;
    }
        
.game:hover {
    color: black;
    background-color: lightgray;}


.carrinho {
    z-index: 9999;
    padding: 18px;
    display: inline-block; width: 30px;
    }

/* Menu Icon */

#menu_icon {
    display: none;
    }

#bar1, #bar2, #bar3 {
    background-color: black;
    width: 24px;
    height: 3px;
    margin: 5px 0 4px 0;
    transition: 0.4s;
    }

.change #bar1 {
    transform: translate(0, 8px) rotate(-45deg);background-color: white;}
.change #bar2 {
    opacity: 0;}
.change #bar3 {
    transform: translate(0, -8px) rotate(45deg);background-color: white;}

#drawer {
    display: none;
    background-color:black;
    width: 97%;
    position: fixed;
    z-index: 1;
    margin-top: 60px;
    padding: 20px;
    transition: all 0.2s linear;
    transform: translateX(-100%);
    opacity: 0.95;
    }

#drawer.open {
    transform: translateX(0px);
    }

.draweritem {color: white; display: block; font-weight:lighter; padding: 12px;}

.draweritem:link, .draweritem:visited {text-decoration: none;}

.draweritem:hover {color: black; background-color: lightgray;}

.mycontainer {background-color:transparent;
    display: block;
    overflow-x: hidden;
    min-height: 100%;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    overflow-y: visible;
    text-align: center;
    }

.containercards {background-color:transparent;
    min-height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    }

section {
    min-height: 10vh;} 

footer {
    clear: both;
    display: block;
    background-color: transparent;
    color:black;
    padding: 16px;
    z-index: 9999;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 20px;
    font-size: 12px;
    }


.center {
    text-align: center;
    }

.alignvertical {
    padding-top: 25%;
    }

.paddingdown {
    padding-bottom: 50px;
}

.floating {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -50%;
    }

.inline {
    display: inline-block;
}

.inlinebaralho {
    position: relative;
    width: 300px;
    height: 300px;
}

#detalhe_baralhonovo {visibility: hidden;}
#detalhe_baralhosfeitos {visibility: hidden;}

.option_cardset {width: 300px; height: 300px;}
.font_option_cardset_20 {color: white; font-size: 20px; margin-top: -280px;}
.font_option_cardset_22 {color: white; font-size: 22px; margin-top: 170px;}

.conteudoscartas {
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    }

#geradorCartas_2 {
    display: none;
}

#geradorCartas_3 {
    display: none;
}

.tutorial {
    width: 100%;
    text-align: center;
}
    
.stepbystep {background-color: white;
    color: black;
    height: 60px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    font-size: 16px;
    line-height: 0.2;
    border-radius: 3px;
    }

.actionbutton {background-color: black;
    color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    font-size: 16px;
    line-height: 0.5;
    border: none;
    border-radius: 3px;
    margin-top: 15%;
    }

button {text-decoration: none;}

.stepbystep:hover {background-color: black;
    color: white;
    box-shadow: 0px 0px 20px 0px grey;}

.actionbutton:hover {
    color: black;
    background-color: lightgray;}

.actionbutton:active {
    color: black;
    background-color: white;
    transform: translateY(2px);
}

input {
    width: 90%;
    font-size: 12px;
}

.cardsbutton {
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    margin-bottom: 100px;
}

.button_red {background: url(Pictures/verdadeirofalso.png); background-size: 100%; width: 80px; height: 80px;
    border-color: transparent; z-index: 1;}
.button_cyan {background: url(Pictures/escolhamultipla.png); background-size: 100%; width: 80px; height: 80px;
    border-color: transparent; z-index: 1;}
.button_green {background: url(Pictures/adivinha.png); background-size: 100%; width: 80px; height: 80px;
    border-color: transparent; z-index: 1;}

.button_red:hover {background-color: black;
    box-shadow: 0px 0px 20px 0px grey;}
.button_cyan:hover {background-color: black;
        box-shadow: 0px 0px 20px 0px grey;}
.button_green:hover {background-color: black;
            box-shadow: 0px 0px 20px 0px grey;}

.buttoninfo {
    display: inline-block;
  }
  
.textbuttoninfo {
    visibility: hidden;
    width: 200%;
    background-color: transparent;
    color: black;
    text-align: center;
    position: absolute;
    margin-left: -102.7%;
    z-index: 1;
    font-size: 20px;
  }

.textbuttoninfored {
    color: #e62f1e;
}

.textbuttoninfocyan {
    color: #009fe3;
}

.textbuttoninfogreen {
    color: #4ead33;
}
  
.buttoninfored:hover .textbuttoninfored {
    visibility: visible;
    margin-top: 105px;
  }

.buttoninfocyan:hover .textbuttoninfocyan {
    visibility: visible;
    margin-top: 105px;
  }

.buttoninfogreen:hover .textbuttoninfogreen {
    visibility: visible;
    margin-top: 105px;  
  }

#questions {width:100%; display: block; text-align: center;}

#cards_page1, #cards_page2, #cards_page3 {text-align: center; width: 100%; display: block;}

.cards_red {width:75mm; height: 75mm; border-style: solid; border-width: 2mm; border-color: #e62f1e;
    padding: 1mm; display:inline-block; background-color: transparent; margin: 4px; background-color: white;}
.cards_cyan {width:75mm; height: 75mm; border-style: solid; border-width: 2mm; border-color: #009fe3;
    padding: 1mm; display:inline-block; background-color: transparent; margin: 4px; background-color: white;}
.cards_green {width:75mm; height: 75mm; border-style: solid; border-width: 2mm; border-color:#4ead33;
    padding: 1mm; display:inline-block; background-color: transparent; margin: 4px; background-color: white;}

.questiontitleheadline {border-color: transparent; background-color: transparent; font-size: 30px; font-weight: bold; 
    margin-bottom: 2mm; overflow-y: hidden; text-align: center; margin-left: -1%;}

.titleblock {position: relative; z-index: 0;}

.questiontitle {border-color: transparent; background-color: transparent; padding-left: 2mm;
    width: 55mm; height: 12mm; font-size: 14pt; font-weight: bold; line-height: 15mm; float: left; 
    margin-bottom: 2mm; overflow-y: hidden;}

.titlelogo {width: 15mm; height: 15mm; float: right;}

.question {border-color: transparent; background-color: transparent; position: relative; width:70mm; height: 36mm;
    padding: 2mm; font-size: 12pt; line-height: 1.3;}

.question_MC {border-color: transparent; background-color: transparent; position: relative; width:70mm; height: 15mm;
    padding: 2mm; font-size: 12pt; line-height: 1.3;}
.option_MC {border-color: transparent; background-color: transparent; position: relative; padding-left: 2mm;
    height: 2mm;height: 7mm;}
.option_MC_type {float: left; width: 5mm; font-size: 11pt; height: 6mm;}
.aligntext {position: relative; float: left; left: 30%; transform: translate(-50%, -50%);}
.option_MC_answer {text-align: left ; width: 65mm; height: 6mm; border-color: transparent; line-height: 1.6;
font-size: 11pt; overflow-y: hidden;}

.answer {border-color: transparent; background-color: transparent; position: relative; height: 5mm; padding-left:
    2mm; padding-right: 2mm; font-size: 11pt;}

.logo {position: relative; text-align: center; height: auto; width: 18mm; border-color :transparent;
     z-index: 0;}

.answer-red {color: #e62f1e;}
.answer-cyan {color: #009fe3;}
.answer-green {color: #4ead33;}

textarea {
    width: 100%;
    font-size: 12px;
    resize: none;}

output {
    max-width: 100%;
    font-size: 14px;
    color: black;
    font-weight: bold;
    float: left;
    }

.card {
    border-radius: 8px;
    max-width: 380px;
    max-height: 457px;}

.mySlides {
    max-width: 100%;
    margin: auto;}

.slideshow {
    max-width: 100%;
    margin: auto;}

.creativecommons {display: none; text-align: left;}

/* Lading Page - Menu Inicial */

.landingline {text-align: center; margin-top: -5px; margin-bottom: -6px; position: relative;}
.landingrect1 {float:left; width: 70%; padding-top: 20px; padding-right: 10px; margin-left: 0%; margin-right: 0.8%; position: absolute;}
.square {display:inline-block; width: 19%; text-align: center; vertical-align: middle;}

#tabuleiro {display: block; width: 99%; text-align: center; border: dashed black 5px; margin-top: 250px;
    padding-top: 26px; padding-bottom: 21px;}

#info_vermelho {position: absolute; background-color: white; width: 23.4vw; height: 23.4vw;
    border: solid 9px #e62f1e; padding: 4vw; font-size: 2vw; right: 8.75%; line-height: 1.5;
    visibility: hidden; z-index: 1;}

#info_azul {position: absolute; background-color: white; width: 23.4vw; height: 23.4vw;
    border: solid 9px #009fe3; padding: 4vw; font-size: 2vw; right: 41.8%; line-height: 1.5;
    visibility: hidden; z-index: 1;}

#info_verde {position: absolute; background-color: white; width: 23.4vw; height: 23.4vw;
    border: solid 9px #4ead33; padding: 4vw; font-size: 2vw; right: 8.75%; line-height: 1.5;
    visibility: hidden; z-index: 1;}

#botao_info_vermelho {z-index: 1; width: 100%; text-align: center;}
#botao_info_azul {z-index: 1; width: 100%; text-align: center;}
#botao_info_verde {z-index: 1; width: 100%; text-align: center;}

.botao_plus {width: 30%; height:30%;}


.animatedtext {
    font-size: 3vw;
    position: relative;
    line-height: 1.3;}

/* Products Page */

#products {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.product {
    display: inline-block;
    text-align: center;
    margin: 2%;
}

.productimg {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
}

.producttext {
    width: 400px;
    height: 50px;
    position: relative;
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    padding-top: 16px;
}

@media print{
    .print {display: block; background-color: white; page-break-after: auto;}
    .noprint {display: none;}
    .creativecommons {display: block;}
    }
    
 /* Tablet */
    
@media only screen and (max-width: 1200px)
    {
    #menu_icon {
        display: block;
        float: right;
        cursor:pointer;
        }
    #navbar{
        display: none;
        }
    
    #drawer {
        display: block;
        }

    }      
        

/* Mobile */

@media only screen and (max-width: 1000px)
    {       
    .newgame {font-size: 12px; padding: 8px 10px 8px 10px; margin-top: -6px;}
    .carrinho {display: inline-block; width: 20px;}
    .stepbystep {display: none;}
    .infostepbystep {display: none;}
    .actionbutton {height: 40px; width: 90px; font-size: 11px;}
    .inlinebaralho {display: block; width: 200px; height: 200px;}
    .option_cardset {width: 200px; height: 200px;}
    .font_option_cardset_20 {color: white; font-size: 14px;margin-top: -190px;}
    .font_option_cardset_22 {color: white; font-size: 16px;margin-top: 110px;}
    }

/* Mobile Small*/

@media only screen and (max-width: 400px)
    {       
    .newgame {font-size: 10px; padding: 8px 10px 8px 10px; margin-top: -6px;}
    #footer {font-size: 10px;}
    }

/* new animation */

.animate {
    opacity: 0;
  }
  
.animate.active {
    opacity: 1;
  }

.active.fade  {
    transition-delay: 250ms;
    animation: fade 1s ease-in-out;
  }

.active.fade-top {
    transition-delay: 250ms;
    animation: fade-top 1s ease-in;
  }
  
.active.fade-bottom {
    transition-delay: 250ms;
    animation: fade-bottom 1s ease-in;
  }

.active.fade-left {
    transition-delay: 250ms;
    animation: fade-left 1s ease-in;
  }

.active.fade-right {
    transition-delay: 250ms;
    animation: fade-right 1s ease-in;
  }

@keyframes fade {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes fade-bottom {
    0% {
      transform: translateY(200px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes fade-left {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
@keyframes fade-right {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
